$colors: (
    "primaryBG": #FFFFFF,
    "primaryFG": #000000,
    "headerBG" : #343C3F,
    "headerFG" : #F2F2F4,
    "borderColor": rgba(193,193,193,0.8),
    "linkColor": #FFFFFF,
    "linkBG": #555,
    "tableHeadBG": #C0C0C0,
    "tableBodyBG": #DCDCDC,
    "tableHoverBG": #D0D0D0,
    "tableBorder" : #CDCDCD,
    "required" : #FF0000,
    "buttonDefaultBG" : #C0C0C0,
    "buttonSuccessBG" : #5cb85c
);

$smallDisplayWidth: 992px;

$fontStack: Open Sans, Verdana, Helvetica Neue, Helvetica, Arial, Geneva, sans-serif;