$colors: (
"primaryBG": #FFFFFF,
"primaryFG": #000000,
"headerBG" : #343C3F,
"headerFG" : #F2F2F4,
"borderColor": rgba(193,193,193,0.8),
"linkColor": #FFFFFF,
"linkBG": #555,
"tableHeadBG": #DEDEDE,
"tableBodyBG": #FCFCFC,
"tableHoverBG": #D0D0D0,
"tableBorder" : #CDCDCD,
"required" : #FF0000,
"buttonDefaultBG" : #C0C0C0,
"successBG" : #5cb85c,
"errorBG" : #d9534f,
"contextMenuBG" : #f0f0f0
);

$smallDisplayWidth: 992px;

$fontStack: Open Sans, Verdana, Helvetica Neue, Helvetica, Arial, Geneva, sans-serif;