.context-menu {
    background-color: map-get($colors, "contextMenuBG");
    display: none;
    padding: 5px;
    position: absolute;
    box-shadow: 3px 3px 1px 0 rgba(0,0,0,0.4);
    border: 1px solid black;


    &-item {
        display: block;
        padding: 3px;
        border: 1px solid map-get($colors, "contextMenuBG");
        border-bottom: 1px solid #d7d7d7;

        &:last-child {
            border-bottom: 1px solid map-get($colors, "contextMenuBG");
        }
        &:hover {
            background-color: darken(map-get($colors, "contextMenuBG"), 10%);
            border: 1px solid #d1e2e0;
        }
    }
}