.notify {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    color: map-get($colors, "primaryBG");
    position: absolute;
    top: 70px;
    right: 120px;
    opacity: 0.9;
    display: none;
    background-color: #888;

    &-close {
        cursor: pointer;
        color: #666666;
    }

    &-success {
        background: map-get($colors, "successBG");
        border: 1px solid darken(map-get($colors, "successBG"), 25%);
    }
    &-error {
        background: map-get($colors, "errorBG");
        border: 1px solid darken(map-get($colors, "errorBG"), 25%);
    }
}